<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>Verify Email Address</title>
</head>
<body>
    <h1>Welcome to Travel_App_Name!</h1>
    <h2 id='greet'>Howdy,</h4>
    <h2 id='description'>
        You're almost ready to start scheduling vacations and events with your friends! 
        Simply verify your email address so we know this account belongs to you.
    </h4>
    <div id="buttondiv">
        <button>
            <strong>Verify Email</strong>
        </button>
    </div>
    <p>If you didn't initiate this request, you can simply ignore this email message. </p>
    <!-- <p>any fine print or copyright info, or a logo</p> -->
</body>
</html>